.main{
display: flex;
flex-direction: column;
justify-content: center;
}
.header{
    background-color: blue;
}
#weather-box{
    background-color: rgb(0, 255, 234);
    border: solid;
    max-width: 500px;
    padding: 25px;
    margin:auto;
    border-radius: 20px;
}
#citySearch{
    position: fixed;
    display: grid;
    top: 70px;
    border: solid;
    max-width: 300px; 
    padding: 5px;
}
.button{
    margin:10px;
    border-radius: 20px;
}
.dayCard{
    margin-left: auto ;
    margin-right: auto;   
}

